@using CoreLayer.Enums
@model CoreLayer.VM.PersonnelPermitVM

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string gender = "";}

<div class="main-content" id="panel">
    <!-- Topnav -->
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-0 d-flex align-items-center" style="min-height: 100px; background-image: url(~/argon/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid align-items-center ">
            <div class="container">
                <div class="col-lg-10 col-md-offset-1">
                    @*<h1 class="display-2 text-white">Merhaba @Model.Name @Model.Surname</h1>*@
                    <p class="text-white text-center mt-0 mb-1"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        @if (ViewBag.Message != null || ViewBag.PermitDayMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
                @ViewBag.PermitDayMessage
            </div>
        }
        <!-- Page content -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="text-muted mb-2 ml-4">İzin Ekleme Sayfası</h3>
                    </div>
                    <!-- Light table -->
                    <div class="card-body border-0">
                        <form asp-action="Add" asp-controller="Permit" method="post" enctype="multipart/form-data" class="">
                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" asp-for="@Model.Permit.StartDate">Başlangıç Tarihi</label>
                                    <input asp-for="@Model.Permit.StartDate" class="form-control" />
                                    <span asp-validation-for="@Model.Permit.StartDate" class="text-danger"></span>

                                </div>

                            </div>

                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" asp-for="@Model.Permit.EndDate">Bitiş Tarihi</label>
                                    <input asp-for="@Model.Permit.EndDate" class="form-control" />
                                    <span asp-validation-for="@Model.Permit.EndDate" class="text-danger"></span>
                                </div>

                            </div>



                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" asp-for="@Model.Permit.PermitTypes">İzin Türü</label>
                                    <select class="form-control" asp-for="@Model.Permit.PermitTypes" asp-items="@Html.GetEnumSelectList<PermitTypes>()">
                                    </select>
                                    <span asp-validation-for="@Model.Permit.PermitTypes" class="text-danger"></span>
                                </div>
                            </div>






                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" asp-for="@Model.Permit.Description">Açıklama</label>
                                    <textarea asp-for="@Model.Permit.Description" rows="4" class="form-control" placeholder="En az 10 karakterlik açıklama yazınız."></textarea>
                                    <span asp-validation-for="@Model.Permit.Description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <button type="submit" value="İzin Ekle" class="btn btn-m btn-success">İzin Ekle</button>
                                </div>

                            </div>

                        </form>
                        @section Scripts {
                            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/argon/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/argon/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="~/argon/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/argon/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="~/argon/assets/js/argon.js?v=1.2.0"></script>




