@model IEnumerable<CoreLayer.Entities.Permit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string color = "";
    string approval = "";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
    <!-- Favicon -->
    <link rel="icon" href="~/argon/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/argon/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/argon/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/argon/assets/css/argon.css?v=1.2.0" type="text/css">
</head>




<body>

    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <!-- Header -->
        <!-- Header -->
        <div class="header pb-0 d-flex align-items-center" style="min-height: 100px; background-image: url(~/argon/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid align-items-center ">
                <div class="container">
                    <div class="col-lg-10 col-md-offset-1">
                        @*<h1 class="display-2 text-white">Merhaba @Model.Name @Model.Surname</h1>*@
                        <p class="text-white text-center mt-0 mb-1"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <div class="row">
                                <h3 class="mb-1">İzin Listeleme Sayfası</h3>
                            </div>


                            @*<a class="btn btn-info" asp-action="Add">Avans Ekle</a>*@
                            <div class="row">
                                <a href="/Permit/Add" class="btn btn-success mt-1">İzin Ekle</a>
                            </div>
                        </div>

                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>


                                        <th scope="col" class="sort" data-sort="name">Talep etme Tarihi</th>   @*RequestDate*@
                                        <th scope="col" class="sort" data-sort="name">Tarih Aralıkları</th>    @*StartDate * EndDate*@
                                        <th scope="col" class="sort" data-sort="budget">İstenilen Gün</th>     @*PermitDay*@
                                        <th scope="col" class="sort" data-sort="status">Onaylanma Durumu</th>  @*Approval*@
                                        <th scope="col" class="sort" data-sort="status">İzin Türü</th>         @*PermitTypes*@
                                        <th scope="col" class="sort" data-sort="status">Onaylanma Tarihi</th>  @*ApprovalDate*@
                                        <th scope="col" class="sort" data-sort="status">İşlemler</th>


                                    </tr>
                                </thead>
                                <tbody class="list">

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm"> @Html.DisplayFor(modelItem => item.RequestDate) </span>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm"> @Html.DisplayFor(modelItem => item.StartDate) -  @Html.DisplayFor(modelItem => item.EndDate)  </span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="budget">
                                                @Html.DisplayFor(modelItem => item.PermitDay)
                                            </td>

                                            @if (item.Approval == CoreLayer.Enums.Approval.OnayBekliyor)
                                            {
                                                color = "bg-gradient-orange";
                                                approval = "Onay Bekliyor";

                                            }
                                            @if (item.Approval == CoreLayer.Enums.Approval.Onaylandı)
                                            {
                                                color = "bg-gradient-green";
                                                approval = "Onaylandı";
                                            }
                                            @if (item.Approval == CoreLayer.Enums.Approval.Reddedildi)
                                            {
                                                color = "bg-gradient-red";
                                                approval = "Reddedildi";
                                            }
                                            <td>
                                                <span class="badge badge-dot mr-4">
                                                    <i class="@color"></i>
                                                    <span class="status">  @approval </span>
                                                </span>
                                            </td>
                                            <td class="budget">
                                                @Html.DisplayFor(modelItem => item.PermitTypes)
                                            </td>

                                            <td class="budget">
                                                @Html.DisplayFor(modelItem => item.ApprovalDate)
                                            </td>

                                            <td class="budget">
                                                <a asp-action="PermDetails" asp-route-id="@item.ID" class="btn btn-primary">Detay</a>

                                                @if (item.Approval == Approval.OnayBekliyor)
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">Güncelle</a>
                                                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Sil</a>
                                                }


                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Dark table -->
                <!-- Footer -->

            </div>

        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/argon/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/argon/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/argon/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/argon/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script src="~/argon/assets/js/argon.js?v=1.2.0"></script>
</body>
