@model Permit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content" id="panel">
    <!-- Topnav -->
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-0 d-flex align-items-center" style="min-height: 100px; background-image: url(~/argon/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid align-items-center ">
            <div class="container">
                <div class="col-lg-10 col-md-offset-1">
                    @*<h1 class="display-2 text-white">Merhaba @Model.Name @Model.Surname</h1>*@
                    <p class="text-white text-center mt-0 mb-1"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0"> İzin Detay Sayfası </h3>
                    </div>
                    <!-- Light table -->
                    <div class="card-body border-0">

                        <div class="container-fluid">

                            <dl class="row mt-2">
                                @*<dt class="col-sm-2 mb-1">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>*@
                                <dt class="col-sm-2 mb-1">
                                    Onay Durumu
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Approval)
                                </dd>
                                <dt class="col-sm-2 mb-1">
                                    Onaylanma Tarihi
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ApprovalDate)
                                </dd>
                                <dt class="col-sm-2 mb-1">
                                    Açıklama
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>


                                @if (Model.Approval == Approval.Reddedildi)
                                {
                                    <dt class="col-sm-2 mb-1">
                                        Reddetme Sebebi
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.ManagerDescription)
                                    </dd>
                                }
                                <dt class="col-sm-2 mb-1">
                                    Talep Tarihi
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.RequestDate)
                                </dd>
                                <dt class="col-sm-2 mb-1">
                                    Başlangıç Tarihi
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.StartDate)
                                </dd>
                                <dt class="col-sm-2 mb-1">
                                    Bitiş Tarihi
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.EndDate)
                                </dd>
                                <dt class="col-sm-2 mb-1">
                                    İzinli Gün Sayısı
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PermitDay)
                                </dd>
                                <dt class="col-sm-2 mb-1">
                                    İzin Türü
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PermitTypes)
                                </dd>

                            </dl>

                            <div class="col-12">
                                <div class="row">
                                    <input type="hidden" asp-for="ID" />

                                    @if (Model.Approval == Approval.OnayBekliyor)
                                    {
                                        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info mb-4 ml-0">Güncelle</a>
                                        <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger mb-4 ml-3">Sil</a>
                                    }
                                    <a asp-action="Index" class="btn btn-link mb-4 ml-3">İzin Listesine Dön</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script src="~/argon/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/argon/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="~/argon/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/argon/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="~/argon/assets/js/argon.js?v=1.2.0"></script>



