@model Advance
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="mb-3 pl-3 pt-3 ml-2">Avans talebini silmek istediğinizden emin misiniz?</h3>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>}


    <div>
        <div class="card pl-2">
            <div class="row mt-2 p-1">
                <div class="col-lg-3 col-md-4 label ">&nbsp;&nbsp; Avans Miktarı</div>
                <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.AdvanceAmount) @Html.DisplayFor(model => model.Currency)</div>
            </div>

            <div class="row mt-3 p-1">
                <div class="col-lg-3 col-md-4 label ">&nbsp;&nbsp; Talep Tarihi</div>
                <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.CreationDate)</div>
            </div>

            <div class="row mt-3 p-1">
                <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; Onaylanma Tarihi</div>
                <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.ApprovalDate)</div>
            </div>

            <div class="row mt-3 p-1">
                <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; Onay Durumu</div>
                <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.Approval)</div>
            </div>

            <div class="row mt-3 p-1">
                <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; Açıklama</div>
                <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.Description)</div>
            </div>

            <form asp-action="DeleteAdvance" asp-route-id="@Model.ID">
                &nbsp;&nbsp;
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Sil" class="btn btn-danger mt-4 mb-3" /> &nbsp;&nbsp;
                <a asp-controller="Advance" asp-action="Index" class="btn btn-link mt-4 mb-3">Avans Listesine Dön</a>
            </form>

        </div>
        <div>
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </div>
</div>
<script src="~/argon/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/argon/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="~/argon/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/argon/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="~/argon/assets/js/argon.js?v=1.2.0"></script>


