@model CoreLayer.Entities.Expense

@{
    ViewData["Title"] = "RefusalExpenseApprow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-content" id="panel">
    <!-- Topnav -->
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-0 d-flex align-items-center" style="min-height: 100px; background-image: url(~/argon/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid align-items-center ">
            <div class="container">
                <div class="col-lg-10 col-md-offset-1">
                   
                    <p class="text-white text-center mt-0 mb-1"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0"> Gider Reddetme Sayfası </h3>
                    </div>
                    <!-- Light table -->
                    <div class="card-body border-0">

                        <div class="container-fluid">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 label mb-1">Harcama Tutarı</div>
                                    <div class="col-lg-3 col-md-6"> @Html.DisplayFor(model => model.ExpenseAmount) @Html.DisplayFor(model => model.Currency)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 label mb-1">Harcama Türü</div>
                                    <div class="col-lg-3 col-md-6"> @Html.DisplayFor(model => model.TypeOfExpenses)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 label mb-1">Açıklama</div>
                                    <div class="col-lg-3 col-md-6"> @Html.DisplayFor(model => model.Description)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 label mb-1">Onay Durumu</div>
                                    <div class="col-lg-3 col-md-6"> @Html.DisplayFor(model => model.Approval)</div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-lg-3 col-md-6 label mb-1">Oluşturma Tarihi</div>
                                    <div class="col-lg-3 col-md-6"> @Html.DisplayFor(model => model.CreationDate)</div>
                                </div>
                                @if (@Model.Invoce != null)
                                {
                                    <div class="row">

                                        <div class="col-lg-3 col-md-6 label mb-1">Fatura</div>

                                        <div class="col-lg-3 col-md-6">
                                            <a href="~/Files/Invoices/@Model.Invoce">
                                                <img src="~/images/pdf.png" width="50" height="50">
                                            </a>
                                        </div>
                                    </div>
                                }

                                else
                                {
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 label mb-1">Fatura</div>
                                    </div>
                                }

                               
                            </div>

                            <form asp-route-id="@Model.ID" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="ManagerDescription" class="control-label"></label>
                                    <input asp-for="ManagerDescription" class="form-control" />
                                    <span asp-validation-for="ManagerDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Reddet" asp-action="RefusalExpense" asp-route-id="@Model.ID" class="btn btn-outline-danger" />
                                    <a asp-action="GetListExpense" class="btn btn-link mb-4 ml-4">Gider Listesine Dön</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script src="~/argon/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/argon/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="~/argon/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/argon/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="~/argon/assets/js/argon.js?v=1.2.0"></script>
