@model CoreLayer.Entities.Personnel

@{
    ViewData["Title"] = "Kullanıcı Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{ string gender = "";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
    <!-- Favicon -->
    <link rel="icon" href="~/argon/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/argon/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/argon/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/argon/assets/css/argon.css?v=1.2.0" type="text/css">
    <title>IK Application</title>
</head>

<body>
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <!-- Header -->
        <!-- Header -->
        <div class="header pb-0 d-flex align-items-center" style="min-height: 100px; background-image: url(~/argon/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid align-items-center ">
                <div class="container">
                    <div class="col-lg-10 col-md-offset-1">
                        @*<h1 class="display-2 text-white">Merhaba @Model.Name @Model.Surname</h1>*@
                        <p class="text-white text-center mt-0 mb-1"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <h3 class="mb-0">Personel Detay Sayfası</h3>



                        </div>
                        <!-- Light table -->
                        <div class="card-body border-0">

                            <div class="container-fluid">

                                <dl class="row">
                                    <dt class="col-sm-2">
                                        Ad
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        İşe Alınma Tarihi
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.HireDate)
                                    </dd>
                                    @if(Model.MiddleName !=null){
                                    <dt class="col-sm-2 mb-2">
                                        İkinci Ad
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.MiddleName)
                                    </dd>
                                    }
                                    <dt class="col-sm-2">
                                        Soyad
                                    </dt>
                                    <dd class="col-sm-4 mb-1">
                                        @Html.DisplayFor(model => model.Surname)
                                    </dd>
                                    <dt class="col-sm-2">
                                        İş Ünvanı
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.Job)
                                    </dd>
                                    
                                    <dt class="col-sm-2">
                                        Mail Adresi
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>
                                    @if(Model.SecondSurname !=null){
                                    <dt class="col-sm-2">
                                        İkinci Soyad
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.SecondSurname)
                                    </dd>
                                    }
                                    <dt class="col-sm-2">
                                        Telefon Numarası
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.PhoneNumber)
                                    </dd>
                                    <dt class="col-sm-2">
                                        Doğum Tarihi
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.BirthDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        Adres
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.Address)
                                    </dd>
                                    <dt class="col-sm-2">
                                        TC Kimlik Numarası
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.IdentityNumber)
                                    </dd>
                                    <dt class="col-sm-2">
                                        Cinsiyet
                                    </dt>
                                    <dd class="col-sm-4">

                                        @if (Model.Gender == CoreLayer.Enums.Gender.Male)
                                        {
                                            gender = "Erkek";
                                        }
                                        @if (Model.Gender == CoreLayer.Enums.Gender.Female)
                                        {
                                            gender = "Kadın";
                                        }

                                        @gender
                                    </dd>
                                    
                                    <dt class="col-sm-2">
                                        Doğum Yeri
                                    </dt>
                                    <dd class="col-sm-4">
                                        @Html.DisplayFor(model => model.PlaceOfBirth)
                                    </dd>
                                </dl>

                                <div class="row mt- mb-2" style="margin-left:3px;">
                                    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning mr-2">Bilgilerimi Düzenle</a>
                                    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-info ml-3">Ana Sayfama Geri Dön</a>
                                </div>
                            </div>
                        </div>
                        <div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table -->
        <!-- Footer -->

    </div>

    </div>




    <script src="~/argon/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/argon/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/argon/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/argon/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script src="~/argon/assets/js/argon.js?v=1.2.0"></script>
</body>


</html>
