@model CoreLayer.Entities.Personnel
@*@{ int age = (int)DateTime.Now.Year - Model.BirthDate.Year;}*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>IK Project</title>
    <!-- Favicon -->
    <link rel="icon" href="~/argon/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/argon/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/argon/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/argon/assets/css/argon.css?v=1.2.0" type="text/css">
    <title>IK Application</title>
</head>

<body style="background-color: #E2E2E2 ">
    <!-- Main content -->
    <div class="main-content" id="panel">

        <div class="header d-flex align-items-center" style="height:50px; background-image: url(~/argon/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            @*<span class="mask bg-gradient-gray opacity-8"></span>*@
            <!-- Header container -->
            <div class="container-fluid align-items-center ">

                <!--<div class="container mt-0 col-lg-12 text-center">
                    <h1 class="text-dark mt-0">Merhaba</h1>-->
                @*<p class="text-dark mt-0 mb-5">Burası senin profil sayfan. Kişisel bilgilerini bu sayfada görüntüleyebilirsin:)</p>*@
                <!--</div>-->
                @*<div class="container">
                        <div class="col-lg-12 text-center">
                            <h1 class="text-dark mt-0">Merhaba @Model.Name @Model.MiddleName @Model.Surname @Model.SecondSurname</h1>
                            <p class="text-dark mt-0 mb-5">Burası senin profil sayfan. Kişisel bilgilerini bu sayfada görüntüleyebilirsin:)</p>
                        </div>
                    </div>*@
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt-auto">
            <div class="row">
                <div class="col-xl-4 order-xl-2" style="margin: auto;">
                    <div class="card card-profile" style="background-color: #7FBCD2;">
                        @*<img src="~/argon/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">*@
                        <div class="row justify-content-center">

                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image ml-auto">
                                    @if (Model.ImagePath != null)
                                    {
                                        <img class="rounded-circle" src="~/images/@Model.ImagePath">
                                    }
                                    else
                                    {
                                        <img src="~/images/6ff8ce19-483d-4986-ab24-84edea0529a6.jpg" class="rounded-circle">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4" style="background-color:#7FBCD2;">
                            <div class="d-flex justify-content-between">
                                <a asp-controller="Personnel" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-m btn-warning mr-4 ml-1">Düzenle</a>
                                @*<a href="/Advance/Add" class="btn btn-m btn-primary  mr-1 ml-4 ">Avans Ekle</a>*@
                                @*<a href="#" class="btn btn-sm btn-default float-right">Bilgilerim</a>*@
                            </div>
                        </div>
                        <div class="card-body pt-0 mt-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-profile-stats mr-auto ml-auto">
                                        <div class="mb-0">
                                            <span class="heading text-default mb-2">Ad Soyad</span>
                                            <span class="text-md-center text-white">@Model.Name @Model.MiddleName @Model.Surname @Model.SecondSurname</span>
                                            @*<span>@Model.Id</span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-profile-stats mr-auto ml-auto">
                                        <div class="mt-0 mb-0">
                                            <span class="heading text-default mb-2">Adres</span>
                                            <span class="text-md-center text-white">@Model.Address</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-profile-stats d-flex justify-content-center mr-auto ml-auto">
                                        <div>
                                            <span class="heading text-default mb-2">İşe Giriş Tarihi</span>
                                            <span class="text-md-center text-white">@Model.HireDate.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-profile-stats d-flex justify-content-center mr-auto ml-auto">
                                        <div class="">
                                            <span class="heading text-default mb-2">İş Ünvanı</span>
                                            <span class="text-md-center text-white"> @Model.Job </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/argon/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/argon/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/argon/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/argon/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script src="~/argon/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>